html, body {
    margin: 0;
    padding: 0;
    background: url('../img/bg_03.png');
    background-repeat: no-repeat;
    background-attachment:fixed;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/bg_03.png', sizingMethod='scale');
    -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/bg_03.png', sizingMethod='scale');
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
}
.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 60px 150px 60px;
    color: #fff;
}
.chart-option{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    margin-top: 2.5rem;
}
.chart-option > .empty {
    height: 1rem;
}
.chart-option > div.top {
    flex: 1;
    display: flex;
}
.top .empty { 
    width: 2rem;
}
.top > .chart1,
.top > .chart2 {
    flex: 1;
    display: flex;
    padding: 1rem 1.5rem;
    flex-direction: column;
    background: url('../img/data/data_b_03.png') no-repeat;
    background-size: 100% 100%;
}
.chart1 > div:first-child,
.chart2 > div:first-child,
.down > div:first-child {
    font-size: 1.2rem;
}
#chart1,
#chart2 {
    flex: 1;
}
.chart-option > div.down {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: url('../img/data/data_b_06.png') no-repeat;
    background-size: 100% 100%;
    padding: 1rem 1.5rem;
}
.chart-group {
    flex: 1;
    display: flex;
}
.chart-group > .chart3{
    flex: 1;
}
.chart-group > .chart4 {
    flex: 1;
}
.chart-group > .chart3,
.chart-group > .chart4 {
    display: flex;
    padding: 1rem 1.5rem;
    flex-direction: column;
    padding-bottom: 0;
    padding-top: .5rem;
}
.form-chart {
    text-align: right;
}
.form-chart + div {
    flex: 1;
}
.type-chart {
    display: flex;
}
.type-chart > div{
    flex: 1;
}
.type-chart + div{
    display: flex;
}
.type-chart + div > div{
    flex: 1;
    text-align: center;
}
.compare-btn {
    margin-left: 1rem;
}
.layui-input,.layui-btn {
    height: 30px!important;
}
.layui-btn{
    line-height: 30px;
}
.layui-form-selected dl{
    text-align: center;
}
.chart1 {
    margin-right: 1rem;
    margin-bottom: 1rem;
}
.chart2 {
    margin-bottom: 1rem;
}