html, body {
    background: url('../img/bg_01.png');
    background-repeat: no-repeat;
    background-attachment:fixed;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/bg_01.png', sizingMethod='scale');
    -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/bg_01.png', sizingMethod='scale');
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
}
.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 4rem 7rem 4rem;
    color: #fff;
}
.header-lf .user {
    float:right;
    line-height: 50px;
    padding-left: 30px;
    padding-right: 40px;
    background: url('../img/manage/oprea-people.png') no-repeat left center;
    background-size: 16px 16px;
    position: relative;
    color: #C5D9FF;
    cursor: pointer;
}

.header-lf .user:hover .login-out{
    display: block;
}
i.layui-icon.layui-icon-triangle-d {
    position: absolute;
    right: 25px;
    top: 2px;
    color: #135BFF;
}
.select-option{
    display: flex;
    margin-bottom: 2rem;
    margin-top: 3.5rem;
}
.thing {
    margin-left: 3rem;
}
.title{
    height: 19px;
    padding-bottom: 5px;
    color: #C6D9FE;
}
.layui-btn{
    background-color: #135BFF!important;
}
.form-table{
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    border: 1px solid #145BFE;
    padding: 0 1rem;
    background: #050836;
    z-index: 50;
}
.table-title{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 2rem;
}
.table-title span{
    font-size: 1.5rem;
    font-weight: 900;
    color: #C5D9FF;
}
.table-title span + div {
    position: absolute;
    right: 0%;
}
.table-title + div.table-render{
    flex: 1;
}
a.opera-btn{
    color: #fff;
}
a.opera-btn:hover{
    color: #fff;
}
.compare-wrapper {
    position: relative;
    width: 300px;
    margin-right: -300px;
    position: fixed;
    top: 2px;
    right: 0;
    bottom: 2px;
    background-color: #050728;
    border: 1px solid #0C359E;
    border-right: none;
    z-index: 100;
}
.icon-switch {
    position: absolute;
    width: 35px;
    height: 28px;
    background: #135BFF;
    border: thin solid #0C359E;
    border-right: none;
    left: -36px;
    top: 50%;
    cursor: pointer;
}
.icon-switch i {
    display: inline-block;
    width: 100%;
    height: 100%;
}
.left {
    background: url(../img/left.png) no-repeat 45% center;
    background-size: 50%; 
}
.right {
    background: url(../img/right.png) no-repeat 45% center;
    background-size: 50%; 
}

.compare-ctt {
    padding: 2rem;
}
.compare-ctt .title {
    padding-top: 1rem;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
    font-size: 1.3rem;
}
.compare-item {
    width: 100%;
    line-height: 2.5rem;
    color: #8AB0F9;
    font-size: 1.1rem;
    border-bottom: thin solid #212567;
}
.compare-item .rt{
    float: right;
    font-size: 1.5rem;
    padding-right: 2rem;
    color: #135BFF;
    cursor: pointer;
}
p.tip {
    font-size: 1rem;
    color: #135BFF;
    margin: 20px auto;
}
.btn-wrapper {
    text-align: center;
}
.login-out{
    position: absolute;
    padding: 0 1rem;
    height: 2.5rem;
    line-height: 2.5rem;
    left: 0;
    top: 80%;
    color: #C5D9FF;
    background: rgba(18, 87, 245, 0.9);
    cursor: pointer;
    display: none;
}
.login-out:hover{
    color: #C5D9FF;
}
.title1{
    margin-bottom: .5rem;
    color: #C5D9FF;
}
.layui-layer {
    background-color: #fff!important;
}
.layui-btn-gray {
    background:#aaa!important;
    cursor: not-allowed;
}
#modalBg {
    display: none;
}
#chartContent {
    width: 300px;
    height: 150px;
    font-size: 1rem;
    color: #fff;
    padding: 15px;
}
.modal-body {
    display: block;
    text-align: center;
}
.modal-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #C5D9FF;
    margin-bottom: 10px;
    font-size: 1rem;
}
.btn-wrapper .btn-close {
    margin-bottom: 10px;
    cursor: pointer;
}
.modal-title span.times {
    font-size: 1rem;
    cursor: pointer;
    font-size: 1.5rem;
    margin-top: 1px;
    color: #C5D9FF;
    cursor: pointer;
}
@media screen and (min-width: 2561px) and (max-width: 4200px){ 
    .header-lf .user {
        line-height: 75px;
    }
    .title1 {
        font-size: 16px;
    }

    .icon-switch {
        width: 70px;
        height: 56px;
        left: -69px;
    }
    #chartContent {
        width: 600px;
        height: 300px;
    }
    .modal-title span.times { 
        margin-top: 20px;
        margin-right: 20px;
    }
    .modal-body {
        padding-top: 30px;
    }
    .btn-wrapper .btn-close {
        margin-bottom: 25px;
    }
    .compare-wrapper {
        width: 600px;
        margin-right: -600px;
    }
}