html, body {
    margin: 0;
    padding: 0;
    background: url('../img/bg_01.png');
    background-repeat: no-repeat;
    background-attachment:fixed;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/bg_01.png', sizingMethod='scale');
    -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/bg_01.png', sizingMethod='scale');
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
}
.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: .5rem 4rem 1rem 4rem;
    color: #fff;
    position: relative;
}
.opera-title {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 3rem;
    left: 0;
    right: 0;
    top: 0;
    background: url(../img/top_l.png) no-repeat center top;
    background-size: 100% 100%;
}
.opera-title > div:first-child {
    width: 27%;
    text-align: center;
    height: 1.5rem;
    font-size: 1.5rem;
    color: #C0D4F9;
}
.opera-title .sp {
    font-size: 1rem;
}
.opera-title > div:last-child {
    padding-left: 30px;
    padding-right: 30px;
    background: url('../img/manage/oprea-people.png') no-repeat;
    background-size: 16px 16px;
    height: 1.5rem;
    position: relative;
    color: #C0D4F9;
}
i.layui-icon.layui-icon-triangle-d {
    position: absolute;
    right: 8px;
    top: 0px;
    color: #145BFE;
}
.select-option{
    display: flex;
    margin-bottom: 2rem;
    margin-top: 3.5rem;
}
.thing {
    margin-left: 3rem;
}
.title{
    height: 19px;
    padding-bottom: 5px;
    color: #C6D9FE;
}
.layui-btn{
    background-color: #135BFF!important;
}
.form-table{
    flex: 1;
}
.table-title{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.table-title span{
    font-size: 1.5rem;
    font-weight: 900;
}
.table-title span + div {
    position: absolute;
    right: 0%;
}
.opera-btn{
    color: #fff;
}
.compare-wrapper {
    display:none;
    width: 300px;
    position: fixed;
    top: 2px;
    right: 0;
    bottom: 2px;
    background-color: #050728;
    border: 1px solid #0C359E;
    border-right: none;
}
.compare-ctt {
    padding: 2rem;
}
.compare-ctt .title {
    padding-top: 1rem;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
    font-size: 17px;
}
.compare-item {
    width: 100%;
    line-height: 2.5rem;
    color: #7494D7;
    font-size: 14px;
    border-bottom: thin solid #15184B;
}
.compare-item .rt{
    float: right;
    padding-right: 2rem;
    color: #0E40B9;
    cursor: pointer;
}
p.tip {
    font-size: 12px;
    color: #0E40B9;
    margin: 20px auto;
}
.btn-wrapper {
    text-align: center;
}