html, body {
    margin: 0;
    padding: 0;
    background: url('../img/bg_01.png');
    background-repeat: no-repeat;
    background-attachment:fixed;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/bg_01.png', sizingMethod='scale');
    -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/bg_01.png', sizingMethod='scale');
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
}
.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: .5rem 4rem 1rem 4rem;
    color: #fff;
}
.header-lf .sp {
    font-size: 1rem;
}
.header-lf > div:last-child {
    float:right;
    line-height: 55px;
    padding-left: 30px;
    padding-right: 40px;
    background: url('../img/manage/oprea-people.png') no-repeat left center;
    background-size: 16px 16px;
    position: relative;
    color: #C0D4F9;
}
.select-option{
    display: flex;
    margin-bottom: 1rem;
    justify-content: flex-end;
    margin-top: 3.5rem;
}
.layui-btn{
    background-color: #135BFF!important;
}
.form-table{
    flex: 1;
    border: 1px solid #1046CD;
    background: #050836;
    color: #fff;
    margin-bottom: 1rem;
}
.form-table{
    display: flex;
}
.table-title{
    width: 5rem;
    display: flex;
    flex-direction: column;
}
.table-title > div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    border-bottom: 1px solid #1F4B88;
}
.table-title > div:not(:last-child):not(:first-child){
    flex: 1;
}
.table-title > div:last-child{
    flex: 3;
    border-bottom: none;
}
.table-title > div:first-child{
    flex: 1.5;
}
.table-compare{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.table-compare > div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
}
.table-compare > div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #1F4B88;
}
.table-compare > div:not(:last-child):not(:first-child){
    flex: 1;
}
.table-compare > div:last-child{
    flex: 3;
    border-bottom: none;
}
.table-compare > div:first-child{
    flex: 1.5;
}
.table-compare > div:first-child {
    display: flex;
    flex-direction: column;
    position: relative;
}
.times {
    position: absolute;
    top: 5px;
    right: 5px;
    background: #030528;
    color: #fff;
    border: 1px solid #1150E3;
    cursor: pointer;
}
form.layui-form {
    width: 100%;
    text-align: center;
}
.layui-form > div {
    width: 80%!important;
}