html,
body {
    height: 100%;
    width: 100%;
    color: #fff;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    height: 100%;
    min-height: 600px;
    align-items: center;
    overflow: hidden;
    background: url(../img/data_bg.png) no-repeat;
    background-size: 100% 100%;
}

.top {
    position: absolute;
    left: 0; right: 0;
    top: 0;
    background: url(../img/top_l.png) no-repeat left top;
    background-size: cover;
    height: 3rem;
    line-height: 3rem;
    /* width: 100%; */
    padding-left: 6rem;
}

.top .title {
    width: 16%;
    display: inline-block;
    text-align: center;
    font-size: 1.15rem;
    margin-top: 5px;
}

.top div {
    position: relative;
    left: 7%;
    top: -6px;
    font-size: 12px;
    display: inline-block;
}

.top .speed {
    color: rgb(56, 128, 38);
}

.content {
    display: flex;
    flex: 1;
    width: 100%;
    padding: 5rem 5rem 5rem;
    min-height: 500px;
}

.left {
    display: flex;
    flex: 4.5;
    text-align: right;
    padding-bottom: 3rem;
    flex-direction: column;
}

.right {
    display: flex;
    flex: 7;
    flex-direction: column;
}

.left .layui-row {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    height: 25%;
    padding-right: 10px;
}

.left .layui-row div {
    width: 25%;
    min-width: 170px;
    height: 60%;
    min-height: 70px;
    display: flex;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.left a {
    color: #fff;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 2rem;
}

.left .layui-row:nth-child(1) div {
    background: url(../img/data/data_1.png) no-repeat left top;
    background-size: 100% 200%;
}

.left .layui-row:nth-child(1) div:hover {
    background: url(../img/data/data_1.png) no-repeat left bottom;
    background-size: 100% 200%;
}

.left .layui-row:nth-child(2) div {
    background: url(../img/data/data_2.png) no-repeat left top;
    background-size: 100% 200%;
}

.left .layui-row:nth-child(2) div:hover {
    background: url(../img/data/data_2.png) no-repeat left bottom;
    background-size: 100% 201%;
}

.left .layui-row:nth-child(3) div {
    background: url(../img/data/data_3.png) no-repeat left top;
    background-size: 100% 200%;
}

.left .layui-row:nth-child(3) div:hover {
    background: url(../img/data/data_3.png) no-repeat left bottom;
    background-size: 100% 201%;
}

.left .layui-row:nth-child(4) div {
    background: url(../img/data/data_4.png) no-repeat left top;
    background-size: 100% 200%;
}

.left .layui-row:nth-child(4) div:hover {
    background: url(../img/data/data_4.png) no-repeat left bottom;
    background-size: 100% 199%;
}

.right .layui-row {
    display: flex;
    flex: 1;
    padding-right: 3rem;
}
.right .row {
    height: 2rem;
}

.right .layui-col {
    margin-left: 3rem;
}
.right .col-4{ 
    flex: 4;
}
.right .col-3{ 
    flex: 2.7;
    background: url(../img/data/data_b_01.png) no-repeat center left;
    background-size: 100% 100%;
}
.right .col-2{ 
    flex: 2;
}
.chart-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    background: url(../img/data/data_b_02.png) no-repeat center left;
    background-size:  100% 100%;
}

.chart-box .chart-name {
    padding-left: 2rem;
    line-height: 30px;
}

.chart-box .chart {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0 .5rem;
}

.table-chart .th-header {
    line-height: 2.5rem;
    display: flex;
    text-align: center;
    color: #124BCD;
}

.table-chart .th-header span {
    flex: 1;
}

.table-chart .th-boby {
    flex: 1;
    display: flex;
    overflow: auto;
    color: #C5D9FF;
}

.table-chart .th-boby>div {
    flex: 1;
    display: flex;
    text-align: center;
}

.table-chart .th-boby span {
    flex: 1;
}

.chart-box .chart-two {
    display: flex;
    flex-direction: row;
}
.chart-two div {
    flex: 1;
}
#chart-4 {
    flex: 1;
}
.swiper-slide-detail{
    display: flex;
}
.swiper-slide-detail:nth-child(2n){
    background: #061043;
}
.swiper-slide-detail > span{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}