html, body {
    margin: 0;
    background: url('../img/bg_02.png');
    background-repeat: no-repeat;
    background-attachment:fixed;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/bg_02.png', sizingMethod='scale');
    -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/bg_02.png', sizingMethod='scale');
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
    color: #fff;
    font-weight: 700;
    overflow: hidden;
    background: url(../img/top_c.png) no-repeat;
    background-size:100% 100%;
}
.logo span{
    display: inline-block;
    height: 100%;
    padding-left: 55px;
    line-height: 3.2rem;
    background: url('../img/login/logo.png') no-repeat left 20%;
    background-size: 2.5rem 2.5rem;
    font-size: 22px;
}
.content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 2rem 4rem 3rem;
}
.top{
    flex: 1;
    display: flex;
    margin-top: 45px;
}
.top > div {
    padding: 1rem;
}
.down {
    flex: 1;
    display: flex;
}
.down > div {
    padding: 1rem;
}
.top > div:nth-child(1),
.top > div:nth-child(2),
.top > div:nth-child(3) {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.chart1,.chart3,.chart4 {
    background: url('../img/center/center1.png') no-repeat;
    background-size: 100% 100%;
}
.chart2 {
    background: url('../img/center/center2.png') no-repeat;
    background-size: 100% 100%;
}
.chart5 {
    background: url('../img/center/center3.png') no-repeat;
    background-size: 100% 100%;
}
.chart1-title {
    display: flex;
    flex-direction: column;
    color: #fff;
}
.chart1-title > div:nth-child(1){
    font-size: 1.5rem;
    padding-left: 1rem;
}
.chart1-title > div:nth-child(2){
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 12px;
}
.chart1-title > div:nth-child(2) span i{
    display: inline-block;
    font-style: normal;
    width: 55px;
    margin: 5px 0;
}
#chart1,
#chart2,
#chart3,
#chart4 {
    flex: 1;
}
.top > div:nth-child(2) {
    flex: 1.5;
}
.top > div:nth-child(3) {
    flex: 1;
}
.down > div:nth-child(1) {
    flex: 1;
    display: flex;
    flex-direction: column;
}
#chart4,#chart5{
    flex: 1;
}
.down > div:nth-child(2) {
    flex: 2.6;
    display: flex;
    flex-direction: column;
}
.chart1 {
    margin-right: 1rem;
    margin-bottom: 1rem;
}
.chart2{
    margin-right: 1rem;
    margin-bottom: 1rem;
}
.chart3{
    margin-bottom: 1rem;
}
.chart4{
    margin-right: 1rem;
}
#chart1{
    display: flex;
}
.meter-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background: url(../img//meter.png) no-repeat center center;
    background-size: contain;
    position: relative;
    border: 1px solid blue;
}
.meter-box>img{
    position: absolute;
    width: auto;
    padding-bottom: 10px;
    height: 37%;
    top: 9%;
    transform-origin: center bottom;
    transform: rotate(0deg);
}