/* html, body {
    margin: 0;
    padding: 0;
    background: url('../img/center/center-bg.png');
    background-repeat: no-repeat;
    background-attachment:fixed;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/center/centercenter-bg.png', sizingMethod='scale');
    -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/center/center-bg.png', sizingMethod='scale');
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
} */
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    color: #fff;
    font-weight: 700;
    overflow: hidden;
}
.logo span{
    display: inline-block;
    height: 100%;
    padding-left: 55px;
    line-height: 45px;
    background: url('../img/login/logo.png') no-repeat;
    background-size: 45px 45px;
    font-size: 22px;
}
.content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.top{
    flex: 1;
    display: flex;
    margin-top: 45px;
}
.top > div {
    padding: 1rem;
}
.down {
    flex: 1;
    display: flex;
}
.top > div:nth-child(1) {
    flex: 1;
    border: 1px solid pink;
    display: flex;
    flex-direction: column;
}
.chart1-title {
    display: flex;
    flex-direction: column;
}
.chart1-title > div:nth-child(1){
    font-size: 20px;
}
.chart1-title > div:nth-child(2){
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#chart1 {
    flex: 1;
    border: 1px solid red;
}
.top > div:nth-child(2) {
    flex: 1.5;
    border: 1px solid yellow;
}
.top > div:nth-child(3) {
    flex: 1;
    border: 1px solid green;
}
.down > div:nth-child(1) {
    flex: 1;
    border: 1px solid yellowgreen;
}
.down > div:nth-child(2) {
    flex: 2.5;
    border: 1px solid orange;
}
/* .chart1-title {
    display: flex;
}
.chart1,.chart2,.chart3{
    padding: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid blue;
}
#chart1{
    flex: 1;
}
.chart4,.chart5{
    border: 1px solid yellow;
}
.chart1 {
    flex: 1;
}
.chart2 {
    flex: 1.5;
}
.chart3 {
    flex: 1;
}
.chart4 {
    flex: 1;
}
.chart5 {
    flex: 2.5;
} */