html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
outline: 0;
vertical-align: baseline;
background: transparent;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
/* remember to define focus styles! */
:focus {
outline: 0;
}
/* remember to highlight inserts somehow! */
ins {
text-decoration: none;
}
del {
text-decoration: line-through;
}
/* tables still need ‘cellspacing=”0″‘ in the markup */
table {
border-collapse: collapse;
border-spacing: 0;
}
svg + a {
    display: none!important;
 }

 /* common style */
html,
body {
  height: 100%;
  width: 100%;
  min-width: 1024px;
  min-height: 576px;
  overflow: hidden;
  font-family:MicrosoftYaHei;
}

@font-face {
  font-family: 'Num';
  font-style: normal;
  font-weight: 400;
  src: url("../font/DS-DIGII.TTF");
}
.font-num {
  font-family: Num !important;
}

/* center */
.header-ct {
  width: 100%;
  height:auto;
  position: relative;
  text-align: center;
  color: #fff;
  background: url(../img/synthesis/top.png) no-repeat;
  background-size: 100% 100%;
}

.title-ct {
  display: inline-block;
  font-size: 2.1rem;
  font-weight: 600;
  color:rgba(141,226,254,1);
}
.logo-ct {
  position: relative;
  display: inline-block;
  background: url(../img/synthesis/logo_s.png) no-repeat;
  background-size: cover;
}

/* left header */
.header-lf {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background: url(../img/top_l.png) no-repeat center top;
  background-size: 100% 100%;
}

.title-lf {
  float: left;
  width: 27%;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  color:rgba(141,226,254,1);
}

.header-lf .sp {
  font-size: 1.5rem;
  font-weight: 500;
}

/* left large */
.header-lf-lg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background: url(../img/top_l_l.png) no-repeat center top;
  background-size: 100% 100%;
}
.title-lf-lg {
  width: 39%;
  font-size: 2rem;
  font-weight: 600;
  color:rgba(141,226,254,1);
  text-align: center;
}
.title-lf-lg .sp{
  position: relative;
  top: -3px;
  font-size: 1.5rem;
  font-weight: normal;
}

/* box */
.box-title {
  font-size: 1.05rem;  /*22px*/
  width: 47%;
  padding-top: .7rem;
  text-align: center;
  font-weight:bold;
  color:rgba(197,217,255,1);
}
.box-title-s {
  width: 77%;
}
.box-title-lg {
  font-size: 1.7rem;  /*22px*/
  padding-left: 1.5rem;
  line-height: 2rem;
  height: 2rem;
  font-weight:600;
  color:rgba(197,217,255,1);
}
.box-title-mid {
  font-size: 1.4rem;  /*22px*/
  padding-left: 2.5rem;
  padding-top: 1rem;
  height: 2.5rem;
  font-weight:600;
  color:rgba(197,217,255,1);
}

/* checkbox */
.layui-form-checkbox[lay-skin=primary] i {
  background-color: #071D4B !important;
  color: #071D4B;
}

/* modal */
#modalBg{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, .5);
  overflow: hidden;
  z-index: 700;
}

#chartContent{
  position: absolute;
  display: flex;
  padding: 3rem 4rem 4rem;
  flex-direction: column;
  left: 50%;
  top: 50%;
  width: 70%;
  height: 70%;
  transform: translate(-50%, -50%);
  background: url('../img/modal-box.png') no-repeat;
  background-size: 100% 100%;
}
div#chartContent.compare-list-limit{
  width: 30%;
  height: 30%;
}

.modal-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #C5D9FF;
  margin-bottom: 1rem;
  font-size: 2rem;
}
.modal-title span.times{
  font-size: 2rem;
  cursor: pointer;
  margin-top: -1.5rem;
  color: #C5D9FF;
}
.modal-body{
  flex: 1;
  display: flex;
  min-height: 0;
}
#chartModal {
  flex: 1;
  display: flex;
}
#chartModal>div.chart-child-modal{
  flex: 1;
}
.swiper-data{
  flex: 1;
  overflow: auto;
  min-height: 0;
}
.modal-th-header{
  display: flex;
  padding: 1.5rem 1rem;
  font-size: 2rem;
  color: #3F74F1;
}
.modal-th-header>span{
  flex: 1;
  text-align: center;
}
.data-list{
  display: flex;
  color: #C5D9FF;
}
.data-list:nth-child(2n+1){
  background:rgba(19,91,255,.1);
}
.data-list>span{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 1rem;
  font-size: 1.5rem;
}
.compare-modal-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #C5D9FF;
  position: absolute;
  width: 70%;
  height: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.compare-list-title{
  font-size: 1.5rem;
}
.compare-list-sure{
  margin-top: 5rem;
  padding: .5rem 2rem;
  color: #fff;
  background:#135BFF;
  cursor: pointer;
}

.layui-table td, .layui-table th{
  font-size: 1rem!important;
}

@media screen and (min-width: 1024px) and  (max-width: 1919px){
  html,body {
    font-size:10px !important;
  }
  .title-ct {
    padding: 5px 0 15px 10px;
  }
  .logo-ct {
    top: 2px;
    width: 30px;
    height: 30px;
  }
  .header-lf { 
    height: 40px;
    line-height: 50px;
  }
  .header-lf .info {
    line-height: 35px!important;
  }
  .header-lf > div:not(.title-lf) {
    line-height: 35px!important;
  }
  .header-lf-lg {
    height: 40px;
    line-height: 50px;
  }
}
@media screen and (min-width: 1600px) and (max-width: 1919px){
  html,body {
    font-size:12px !important;
  }
}
@media screen and (min-width: 1920px) and (max-width: 2560px){
  html,body {
    font-size:15px !important;
  }
  .title-ct {
    padding: 12px 0 18px 10px;
  }
  .logo-ct {
    top: 3px;
    width: 40px;
    height: 40px;
  }
  .header-lf { 
    height: 60px;
    line-height: 75px;
  }
  .header-lf .info {
    line-height: 50px!important;
  }
  .header-lf-lg {
    height: 60px;
    line-height: 75px;
  }
}
@media screen and (min-width: 2561px) and (max-width: 4200px){ 
  html { 
    font-size:26px !important;
  } 
  .title-ct {
    padding: 15px 0 34px 10px;
  }
  .logo-ct {
    top: 9px;
    width: 70px;
    height: 70px;
  }
  .header-lf { 
    height: 100px;
    line-height: 120px;
  }
  .title-lf {
    font-size: 2.4rem;
  }
  .header-lf .info {
    line-height: 80px!important;
  }
  .header-lf-lg {
    height: 100px;
    line-height: 120px;
  }
  .title-lf-lg {
    font-size: 2.4rem;
  }
  .box-title { 
    font-size: 1.2rem;
    padding-top: 1rem;
    height: 2rem;
  }
  .box-title-mid {
    font-size: 1.7rem;  /*22px*/
    padding-left: 3rem;
    padding-top: 1.8rem;
  }
  .box-title-lg {
    font-size: 2rem;  /*22px*/
    padding-left: 2rem;
    line-height: 2.5rem;
    height: 2rem;
  }
  .th-header{
    font-size: 1.1rem;
  }
  .title {
    font-size: 1rem!important;
  }
  .layui-input {
    font-size: 1rem;
    height: 60px!important;
  }
  .layui-table-view .layui-table td, .layui-table-view .layui-table th {

  }
  .layui-btn {
    height: 60px!important;
    line-height: 60px!important;
    padding: 0px 36px!important;
    font-size: 1rem!important;
  }
  .layui-btn .layui-icon {
    font-size: 1rem!important;
  }
  .layui-table-cell {
    height: 58px!important;
    line-height: 58px!important;
  }
  .layui-btn-xs {
    height: 40px !important;
    line-height: 40px!important;
    padding: 0px 22px!important;
    font-size: 1rem!important;
  }
}
