* {
  box-sizing: border-box;
}

body {
  background: url(../img/synthesis/bg.png) no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  width: 100%;
  overflow: hidden;
}

.header {
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  position: relative;
  text-align: center;
  color: #fff;
  font-size: 1.2rem;
  background: url(../img/synthesis/top.png) no-repeat;
  background-size: 100% 3rem;
}

.header .logo {
  display: inline-block;
  position: relative;
  top: 0.3rem;
  width: 2rem;
  height: 2rem;
  background: url(../img/synthesis/logo_s.png) no-repeat;
  background-size: cover;
}

.header span {
  position: relative;
  top: -.2rem;
}

#orbit-system {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.system {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transform: rotateX(75deg) rotateY(0deg);
  -moz-transform: rotateX(75deg) rotateY(0deg);
  -ms-transform: rotateX(75deg) rotateY(0deg);
  transform: rotateX(75deg) rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/* 鼠标悬浮暂停动画 */
.system:hover .satellite-orbit,
.system:hover .satellite {
  animation-play-state: paused;
}

.planet,
.satellite-orbit,
.satellite {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  /*改为3d盒子模型*/
}

/* 中心球样式 */
.planet {
  width: 24rem;
  height: 24rem;
  margin-top: -12rem;
  margin-left: -12rem;
  /*居中显示*/
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  font-size: 1.4rem;
  text-align: center;
  background: url(../img/synthesis/center-1.png) no-repeat center center;
  background-size: cover;

  /* 恒星角度变换 */
  -webkit-transform: rotateX(-75deg) rotateY(0deg) translateY(-6.5rem);
  -moz-transform: rotateX(-75deg) rotateY(0deg) translateY(-6.5rem);
  -ms-transform: rotateX(-75deg) rotateY(0deg) translateY(-6.5rem);
  transform: rotateX(-75deg) rotateY(0deg) translateY(-6.5rem);

}

.planet .breath {
  height: 100%;
  width: 100%;
  background: url(../img/synthesis/center-2.png) no-repeat center center;
  background-size: cover;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-name: breathe;
  -moz-animation-name: breathe;
  -o-animation-name: breathe;
  -ms-animation-name: breathe;
  animation-name: breathe;
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  -o-animation-duration: 3s;
  -ms-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -o-animation-direction: alternate;
  -ms-animation-direction: alternate;
  animation-direction: alternate;

}

/* 周边球体旋转面 宽高必须等同 */
.satellite-orbit {
  width: 70%;
  /* height: 100%; */
  margin-top: -35%;
  margin-left: -35%;
  border-radius: 50%;
  -webkit-animation-name: orbit;
  -moz-animation-name: orbit;
  -o-animation-name: orbit;
  -ms-animation-name: orbit;
  animation-name: orbit;
  -webkit-animation-duration: 200s;
  -moz-animation-duration: 200s;
  -o-animation-duration: 200s;
  -ms-animation-duration: 200s;
  animation-duration: 200s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  animation-timing-function: linear;

}

/* 周边球体通用样式 */
.satellite {
  border-radius: 50%;
  text-align: center;
  font-size: 1.2rem;
  color: #fff;
  transition: all .2s;
  -webkit-animation-duration: 200s;
  -moz-animation-duration: 200s;
  -o-animation-duration: 200s;
  -ms-animation-duration: 200s;
  animation-duration: 200s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-transform: rotateX(-75deg) rotateY(0deg) translateY(0deg);
  -moz-transform: rotateX(-75deg) rotateY(0deg) translateY(0deg);
  -o-transform: rotateX(-75deg) rotateY(0deg) translateY(0deg);
  -ms-transform: rotateX(-75deg) rotateY(0deg) translateY(0deg);
  transform: rotateX(-75deg) rotateY(0deg) translateY(0deg);

  /* -webkit-animation-name: invert-orbit; */
  /* -moz-animation-name: invert-orbit; */
  /* -o-animation-name: invert-orbit; */
  /* -ms-animation-name: invert-orbit; */
  /* animation-name: invert-orbit; */
  border: .5rem solid transparent;

}

.satellite:hover {
  cursor: pointer;
  border: 0px solid transparent;
}

.satellite a {
  display: block;
  width: 100%;
  height: 100%;
}
.satellite img {
  width: 100%;
  height: 100%;
}

/* 周边球体起始角度 */
/* 也可以通过旋转角度不同 */
.user {
  top: 28%;
  left: 95%;
  width: 11rem;
  height: 11rem;
  margin-top: -5.5rem;
  margin-left: -5.5rem;
  -webkit-animation-name: invert-user;
  -moz-animation-name: invert-user;
  -o-animation-name: invert-user;
  -ms-animation-name: invert-user;
  animation-name: invert-user;
}

.data {
  top: 92%;
  left: 77%;
  width: 13rem;
  height: 13rem;
  margin-top: -6.5rem;
  margin-left: -6.5rem;
  -webkit-animation-name: invert-data;
  -moz-animation-name: invert-data;
  -o-animation-name: invert-data;
  -ms-animation-name: invert-data;
  animation-name: invert-data;
}

.asset {
  top: 92%;
  left: 23%;
  width: 13rem;
  height: 13rem;
  margin-top: -6.5rem;
  margin-left: -6.5rem;
  -webkit-animation-name: invert-asset;
  -moz-animation-name: invert-asset;
  -o-animation-name: invert-asset;
  -ms-animation-name: invert-asset;
  animation-name: invert-asset;
}

.manage {
  top: 35.6%;
  left: 2%;
  width: 11rem;
  height: 11rem;
  margin-top: -5.5rem;
  margin-left: -5.5rem;
  -webkit-animation-name: invert-manage;
  -moz-animation-name: invert-manage;
  -o-animation-name: invert-manage;
  -ms-animation-name: invert-manage;
  animation-name: invert-manage;
}

.serve {
  top: 0%;
  left: 50%;
  width: 10rem;
  height: 10rem;
  margin-top: -5rem;
  margin-left: -5rem;
  -webkit-animation-name: invert-serve;
  -moz-animation-name: invert-serve;
  -o-animation-name: invert-serve;
  -ms-animation-name: invert-serve;
  animation-name: invert-serve;
}

/* 球体公转 */
@keyframes orbit {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

/* 球体自传 */
@keyframes invert-user {
  0% {
    transform: rotateZ(360deg) rotateY(0deg) rotateX(-75deg) scale(1.001);
    height: 11rem;
    width: 11rem;
    margin-top:-5.5rem;
    margin-left:-5.5rem;
  }

  20% {
    height: 13rem;
    width: 13rem;
    margin-top: -6.5rem;
    margin-left: -6.5rem;
  }
  40% {
    height: 13rem;
    width: 13rem;
    margin-top: -6.5rem;
    margin-left: -6.5rem;
  }
  60% {
    height: 11rem;
    width: 11rem;
    margin-top:-5.5rem;
    margin-left:-5.5rem;
  }
  75% {
    height: 9rem;
    width: 9rem;
    margin-top: -4.5rem;
    margin-left: -4.5rem;
  }

  100% {
    transform: rotateZ(0deg) rotateY(0deg) rotateX(-75deg) scale(1.001);
    height: 11rem;
    width: 11rem;
    margin-top:-5.5rem;
    margin-left:-5.5rem;
  }
}

@keyframes invert-data {
  0% {
    transform: rotateZ(360deg) rotateY(0deg) rotateX(-75deg) scale(1.001);
    height: 13rem;
    width: 13rem;
    margin-top: -6.5rem;
    margin-left: -6.5rem;
  }

  20% {
    height: 13rem;
    width: 13rem;
    margin-top: -6.5rem;
    margin-left: -6.5rem;
  }
  40% {
    height: 11rem;
    width: 11rem;
    margin-top:-5.5rem;
    margin-left:-5.5rem;
  }
  60% {
    height: 9rem;
    width: 9rem;
    margin-top: -4.5rem;
    margin-left: -4.5rem;
  }
  75% {
    height: 11rem;
    width: 11rem;
    margin-top:-5.5rem;
    margin-left:-5.5rem;
  }

  100% {
    transform: rotateZ(0deg) rotateY(0deg) rotateX(-75deg) scale(1.001);
    height: 13rem;
    width: 13rem;
    margin-top: -6.5rem;
    margin-left: -6.5rem;
  }
}

@keyframes invert-asset {
  0% {
    transform: rotateZ(360deg) rotateY(0deg) rotateX(-75deg) scale(1.001);
    height: 13rem;
    width: 13rem;
    margin-top: -6.5rem;
    margin-left: -6.5rem;
  }

  20% {
    height: 11rem;
    width: 11rem;
    margin-top:-5.5rem;
    margin-left:-5.5rem;
  }
  40% {
    height: 9rem;
    width: 9rem;
    margin-top: -4.5rem;
    margin-left: -4.5rem;
  }
  60% {
    height: 11rem;
    width: 11rem;
    margin-top:-5.5rem;
    margin-left:-5.5rem;
  }
  75% {
    height: 13rem;
    width: 13rem;
    margin-top: -6.5rem;
    margin-left: -6.5rem;
  }

  100% {
    transform: rotateZ(0deg) rotateY(0deg) rotateX(-75deg) scale(1.001);
    height: 13rem;
    width: 13rem;
    margin-top: -6.5rem;
    margin-left: -6.5rem;
  }
}

@keyframes invert-manage {
  0% {
    transform: rotateZ(360deg) rotateY(0deg) rotateX(-75deg) scale(1.001);
    height: 11rem;
    width: 11rem;
    margin-top:-5.5rem;
    margin-left:-5.5rem;
  }

  20% {
    height: 9rem;
    width: 9rem;
    margin-top: -4.5rem;
    margin-left: -4.5rem;
  }
  40% {
    height: 11rem;
    width: 11rem;
    margin-top:-5.5rem;
    margin-left:-5.5rem;
  }
  60% {
    height: 13rem;
    width: 13rem;
    margin-top: -6.5rem;
    margin-left: -6.5rem;
  }
  75% {
    height: 13rem;
    width: 13rem;
    margin-top: -6.5rem;
    margin-left: -6.5rem;
  }

  100% {
    transform: rotateZ(0deg) rotateY(0deg) rotateX(-75deg) scale(1.001);
    height: 11rem;
    width: 11rem;
    margin-top:-5.5rem;
    margin-left:-5.5rem;
  }
}

@keyframes invert-serve {
  0% {
    transform: rotateZ(360deg) rotateY(0deg) rotateX(-75deg) scale(1.001);
    height: 10rem;
    width: 10rem;
    margin-top: -5rem;
    margin-left: -5rem;
  }

  20% {
    height: 11rem;
    width: 11rem;
    margin-top:-5.5rem;
    margin-left:-5.5rem;
  }
  40% {
    height: 12rem;
    width: 12rem;
    margin-top: -6rem;
    margin-left: -6rem;
  }
  60% {
    height: 12rem;
    width: 12rem;
    margin-top: -6rem;
    margin-left: -6rem;
  }
  75% {
    height: 11rem;
    width: 11rem;
    margin-top:-5.5rem;
    margin-left:-5.5rem;
  }

  100% {
    transform: rotateZ(0deg) rotateY(0deg) rotateX(-75deg) scale(1.001);
    height: 10rem;
    width: 10rem;
    margin-top: -5rem;
    margin-left: -5rem;
  }
}

@keyframes breathe {
  0% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}