.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.water-wrapper {
  color: #fff;
  width:8rem;  
  height:8rem; 
  text-align: center; 
}
.ball-border {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background: url(../img/water-border.png) no-repeat center center;
  background-size: 100% 100%;
  animation-timing-function: linear;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-name: b-water;
}

.ball {
  height: 84%;
  width: 84%;
  border-radius: 50%;
  background: url(../img/water-shadow.png) no-repeat center center;
  background-size: 100% 100%;
}

.ball .water-value {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5rem;
  min-width: 50px;
  text-align: center;
}

.water {
  position: absolute;
  height: 84%;
  width: 84%;
  border-radius: 50%;
  overflow: hidden;
  z-index: -1;
}

.bw {
  position: absolute;
  top: 50%;
  height: 100%;
  width: 200%;
  font-size: 0;
  text-align: left;
  overflow: hidden;
  animation-timing-function: linear;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

#bw_1 {
  animation-name: water_1;
  left: -5%;
}

#bw_2 {
  left: -5%;
  animation-name: water_2;
  animation-duration: 3s;
}

@keyframes b-water {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes water_1 {
  0% {
    left: -5%;
  }

  100% {
    left: -73%;
  }
}

@keyframes water_2 {
  0% {
    left: -5%;
  }

  100% {
    left: -73%;
  }
}

/* 仪表盘 */

.meter-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  background: url(../img/meter_arc.png) no-repeat center center;
  background-size: contain;
  position: relative;
}

.meter-box>img {
  position: absolute;
  width: auto;
  height: 40%;
  top: 15%;
  transform-origin: center 90%;
  transform: rotate(-129deg);
  transition: transform 1s ease;
}

.meter-box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  background: url(../img/meter_arc.png) no-repeat center center;
  background-size: contain;
  position: relative;
}
.meter-box>img{
  position: absolute;
  width: auto;
  height: 40%;
  top: 15%;
  transform-origin: center 90%;
  transform: rotate(-129deg);
  transition: transform 1s ease;
}
.font-num{
  position: absolute;
  bottom: 15%;
  color: #0CCCEC;
  font-size: 2.5rem;
  font-weight: bold;
  padding: .2rem .5rem;
  background: #03062F;
  border-radius: 5px;
  -webkit-animation: neon 1.5s ease-in-out infinite alternate;
  -moz-animation: neon 1.5s ease-in-out infinite alternate;
  animation: neon 1.5s ease-in-out infinite alternate; 
}

@-webkit-keyframes neon {
  from {
    text-shadow: 0 0 10px #fff,
               0 0 20px  #fff,
               0 0 30px  #fff,
               0 0 40px  #0CCCEC,
               0 0 70px  #0CCCEC,
               0 0 80px  #0CCCEC,
               0 0 100px #0CCCEC,
               0 0 150px #0CCCEC;
  }
  to {
    text-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px #0CCCEC,
               0 0 35px #0CCCEC,
               0 0 40px #0CCCEC,
               0 0 50px #0CCCEC,
               0 0 75px #0CCCEC;
  }
}