html, body {
    margin: 0;
    padding: 0;
    background: url('../img/manage/opera.png');
    background-repeat: no-repeat;
    background-attachment:fixed;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/manage/opera.png', sizingMethod='scale');
    -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/manage/opera.png', sizingMethod='scale');
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
}
.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: .5rem 4rem 1rem 4rem;
    color: #fff;
    position: relative;
}
.opera-title {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 8rem);
    padding-left: 1rem;
}
.opera-title > div:first-child {
    font-size: 1.5rem;
    color: #C0D4F9;
}
.opera-title .sp {
    font-size: 1rem;
}
.opera-title > div:last-child {
    padding-left: 30px;
    padding-right: 30px;
    background: url('../img/manage/oprea-people.png') no-repeat;
    background-size: 15px 16px;
    position: relative;
    color: #C0D4F9;
}
i.layui-icon.layui-icon-triangle-d {
    position: absolute;
    right: 8px;
    top: 2px;
    color: #145BFE;
}
.select-option{
    display: flex;
    margin-bottom: 1rem;
    margin-top: 2.5rem;
}
.thing {
    margin-left: 3rem;
}
.title{
    height: 19px;
    padding-bottom: 5px;
    color: #C6D9FE;
}
.layui-btn{
    background-color: #135BFF!important;
}
.form-table{
    flex: 1;
    border: 1px solid #145BFE;
    padding: 0 1rem;
    background: #050737;
}
.table-title{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 50px;
}
.table-title span{
    font-size: 1.5rem;
    font-weight: 900;
}
.table-title span + div {
    position: absolute;
    right: 0%;
}
#pickDate1 {
    border-left: 0;
    border-right: 0;
}