




.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem 4rem 3rem 4rem;
    border: 1px solid red;
}
.select-option{
    display: flex;
    margin-bottom: 1rem;
}
.thing {
    margin-left: 3rem;
}
.title{
    height: 19px;
    padding-bottom: 5px;
}
.layui-btn{
    background-color: #135BFF!important;
}
.form-table{
    flex: 1;
}
.table-title{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.table-title span{
    font-size: 1.5rem;
    font-weight: 900;
}
.table-title span + div {
    position: absolute;
    right: 0%;
}
.opera-btn{
    color: #fff;
}